footer
    .container 
        .footer-wrapper 
            .footer-column
                img.company-logo(src="assets/images/logo.webp", alt="")
                p.contact-us Contact Us
                p.phone-number Call: +123 400 123
                p.description Praesent nulla massa, hendrerit vestibulum gravida in, feugiat auctor felis.
                p.email Email: example@mail.com
            .footer-column
                ul.footer-list 
                    li.footer-item 
                        a.footer-link(href="") Home 
                    li.footer-item 
                        a.footer-link(href="") About 
                    li.footer-item 
                        a.footer-link(href="") Course 
                    li.footer-item 
                        a.footer-link(href="") Blog 
                    li.footer-item 
                        a.footer-link(href="") Contact 
            .footer-column
                p.footer-heading Category
                ul.footer-list 
                    li.footer-item 
                        a.footer-link(href="") Design 
                    li.footer-item 
                        a.footer-link(href="") Development 
                    li.footer-item 
                        a.footer-link(href="") Marketing  
                    li.footer-item 
                        a.footer-link(href="") Business 
                    li.footer-item 
                        a.footer-link(href="") Lifestlye 
                    li.footer-item 
                        a.footer-link(href="") Photography 
                    li.footer-item 
                        a.footer-link(href="") Music 
            .footer-column
                p.subscribe-text Subscribe
                p.subscribe-desription Lorem Ipsum has been them an industry printer took a galley make book.
                .form-control 
                    input.email-input(type="text" placeholder="Email here")
                    span.error Error
                    button.btn.btn-primary Subscribe now