header
    .container 
        nav
            a(href="").company-logo
                img(src="../assets/images/logo.webp" alt="company logo", height="40", width="106")
            ul.nav-list    
                li.nav-item
                    a(href="").nav-link Home
                li.nav-item
                    a(href="").nav-link About
                li.nav-item
                    a(href="").nav-link Course
                li.nav-item
                    a(href="").nav-link Blog
                li.nav-item
                    a(href="").nav-link Contact
            .nav-btns 
                button.login-btn.btn(tabindex="1") Login
                button.signup-btn.btn.btn-primary(tabindex="1") Sign up for Free
            i.ri-menu-fold-line.open