@font-face {
	font-family: "Sans-Medium";
	src: url("../../assets/fonts/PublicSans-Medium.eot");
	src: url("../../assets/fonts/PublicSans-Medium.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/PublicSans-Medium.woff2") format("woff2"),url("../../assets/fonts/PublicSans-Medium.woff") format("woff"),url("../../assets/fonts/PublicSans-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sans-Regular";
	src: url("../../assets/fonts/PublicSans-Regular.eot");
	src: url("../../assets/fonts/PublicSans-Regular.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/PublicSans-Regular.woff2") format("woff2"),url("../../assets/fonts/PublicSans-Regular.woff") format("woff"),url("../../assets/fonts/PublicSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sans-SemiBold";
	src: url("../../assets/fonts/PublicSans-SemiBold.eot");
	src: url("../../assets/fonts/PublicSans-SemiBold.eot?#iefix") format("embedded-opentype"),url("../../assets/fonts/PublicSans-SemiBold.woff2") format("woff2"),url("../../assets/fonts/PublicSans-SemiBold.woff") format("woff"),url("../../assets/fonts/PublicSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: 0;
}

html,
body {
	font-family: "Sans-Regular";
	background: #fff;
	width: 100%;
	font-size: 16px;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

html.no-scroll,
body.no-scroll {
	overflow: hidden;
	width: 100%;
}

html {
	scroll-padding-top: 5.5625rem;
}

a,
button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {
	margin: 0 auto;
	padding-left: .9375rem;
	padding-right: .9375rem;
	max-width: 1440px;
	width: 100%;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

.section-title {
	font-family: "Sans-SemiBold";
	font-weight: 600;
	font-size: 56px;
	line-height: 72px;
	margin-bottom: 16px;
}

.section-span {
	color: #3461fd;
}

.section-description {
	color: #6d737a;
	font-family: "Sans-Regular";
	font-weight: 400;
	line-height: 28px;
	font-size: 20px;
	margin-bottom: 50px;
}

.ri-arrow-right-up-line {
	font-size: 1.5rem;
	color: #ffc27a;
	padding: .625rem;
	border-radius: 100%;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

.swiper-button-lock {
	display: block !important;
}

.primary-btn {
	padding: 12px 24px;
	font-size: 16px;
	line-height: 24px;
	font-family: "Sans-SemiBold";
	border-radius: 1rem;
	color: #fff;
}

.ri-arrow-right-up-line {
	height: 44px;
	width: 44px;
	border-radius: 100%;
}

#error-message,
#error-messages,
.error-message {
	color: #fff;
	position: absolute;
	bottom: -25px;
	left: 0px;
	display: none;
	font-size: .875rem;
}

#scrollTopBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background: radial-gradient(75.52% 108.69% at 51.9% 100%, #0854C4 32.04%, #093A8A 64.58%, #092962 100%);
	color: #fff;
	border: none;
	padding: 10px 15px;
	border-radius: 50%;
	font-size: 18px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s,transform .3s;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-transform: translateY(50px);
	    transform: translateY(50px);
	z-index: 9;
}

#scrollTopBtn.show {
	opacity: 1;
	visibility: visible;
	-ms-transform: translateY(0);
	    transform: translateY(0);
}

#scrollTopBtn:hover {
	-ms-transform: scale(1.1);
	    transform: scale(1.1);
}

.break-txt {
	display: block;
}

.mt-16 {
	margin-top: 1rem;
}

.mt-24 {
	margin-top: 1.5rem;
}

.mt-32 {
	margin-top: 2rem;
}

.mt-40 {
	margin-top: 2.5rem;
}

.mb-12 {
	margin-bottom: .75rem;
}

.mb-16 {
	margin-bottom: 1rem;
}

.mb-32 {
	margin-bottom: 2rem;
}

.mb-24 {
	margin-bottom: 1.5rem;
}

.mb-40 {
	margin-bottom: 2.5rem;
}

.justify-start {
	-ms-flex-pack: start;
	    justify-content: start;
}

.modalWrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	z-index: 99999;
	background-size: cover;
	display: none;
}

.modal-overlay {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	visibility: hidden;
	opacity: 0;
}

.modal-box .close-button {
	position: absolute;
	top: .625rem;
	right: .625rem;
	z-index: 11;
	line-height: 0;
	cursor: pointer;
}

.modal-box .modal-title {
	color: gray;
	font-size: 1.25rem;
	line-height: 1.625rem;
	letter-spacing: .01rem;
	margin-bottom: 1.125rem;
}

.modal-box .modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #fff;
	max-width: 33.75rem;
	height: auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	padding: 1.5rem;
	border-radius: .5rem;
	border: 0;
	width: 100%;
}

.modal-box .modal-content>.container {
	overflow: auto;
}

.modal-box .modal-content>.container::-webkit-scrollbar {
	display: none;
}

.modal-box .modal-content .nano {
	overflow: auto;
	height: 504px;
}

.modal-box .modal-content .nano .nano-pane {
	display: inherit !important;
}

.modal-box .modal-content .nano .nano-content:focus {
	outline: none;
}

*:focus-visible {
	outline: #666 auto 1px;
}

.w-100 {
	width: 100%;
}

.table-content {
	padding: 20px;
	border-radius: 16px;
	background: #fff;
}

.table-content .table-wrap table {
	border: 0;
	border-collapse: collapse;
	text-align: left;
	table-layout: fixed;
	width: 100%;
}

.table-content .table-wrap table thead th {
	padding: 20px 16px;
	color: #fff;
	font-family: "Sans-SemiBold";
	font-size: 16px;
	font-style: normal;
	line-height: 20px;
	letter-spacing: .24px;
}

.table-content .table-wrap table thead th:first-child {
	border-top-left-radius: 12px;
}

.table-content .table-wrap table thead th:last-child {
	border-top-right-radius: 12px;
}

.table-content .table-wrap table td {
	padding: .75rem 1rem;
	font-family: "Sans-Regular";
	font-size: 1rem;
	line-height: 1.48rem;
}

.table-content .table-wrap table tbody tr:last-of-type {
	border-bottom: none;
}

.table-content .table-wrap table .text-align {
	text-align: center;
}

.table-content .table-wrap table .text-start {
	text-align: start;
}

.table-heading {
	font-family: "Sans-SemiBold";
	font-size: 18px;
	font-style: normal;
	line-height: 20px;
	letter-spacing: .16px;
	margin-bottom: 20px;
}

.readmore-button {
	text-align: center;
}

.readmore-button .btn {
	padding: 16px 24px;
}

.overflow-hidden {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.btn {
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: baseline;
	    align-items: baseline;
	-ms-flex-pack: center;
	    justify-content: center;
	text-align: center;
	font-family: "Sans-SemiBold";
	-ms-flex-item-align: baseline;
	    align-self: baseline;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: .75rem 1.5rem;
	color: #fff;
	border: none;
	outline: none;
	background: rgba(0,0,0,0);
	border-radius: 6.25rem;
	position: relative;
	cursor: pointer;
	font-weight: 500;
}

.btn-primary {
	color: #fff;
	transition: all .3s ease-in-out;
	background: linear-gradient(180deg, rgb(255, 194, 122) 0%, rgb(255, 163, 55) 100%);
}

.btn-primary:hover {
	background: rgba(0,0,0,0);
}

header {
	background-color: #6176f7;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 6rem;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	z-index: 20;
}

header nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	-ms-flex-align: center;
	    align-items: center;
}

header nav .nav-list {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
}

header nav .nav-list .nav-item {
	padding: .75rem 1.5rem;
	cursor: pointer;
}

header nav .nav-list .nav-link {
	position: relative;
	color: #fff;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 600;
	transition: color .3s ease-in-out;
}

header nav .nav-list .nav-link:hover {
	color: #ffc27a;
}

header nav .nav-list .nav-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: .125rem;
	background-color: #ffc27a;
	transition: width .3s ease-in-out;
}

header nav .nav-list .nav-link:hover::after {
	width: 100%;
}

header nav .nav-btns {
	display: -ms-flexbox;
	display: flex;
}

header nav .nav-btns .login-btn:hover {
	color: #ffc27a;
	transition: color .3s ease-in-out;
}

header nav .open {
	display: none;
	color: #fff;
	font-size: 1.875rem;
}

footer {
	background-color: #21212f;
	padding: 45px 0 88px;
	color: #fff;
}

footer .footer-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: justify;
	    justify-content: space-between;
}

footer .footer-wrapper .footer-column {
	-ms-flex: 1;
	    flex: 1;
	margin-bottom: 30px;
}

footer .footer-wrapper .footer-column:nth-child(2) {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
}

footer .footer-wrapper .footer-column:nth-child(3) {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	text-align: left;
}

footer .footer-wrapper .company-logo {
	margin-bottom: 24px;
}

footer .footer-wrapper .contact-us {
	margin-bottom: 15px;
}

footer .footer-wrapper .phone-number {
	margin-bottom: 7px;
}

footer .footer-wrapper .description {
	margin-bottom: 15px;
}

footer .footer-wrapper .footer-heading {
	font-family: "Sans-SemiBold";
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 31px;
}

footer .footer-wrapper .email {
	margin-bottom: 15px;
}

footer .footer-wrapper .footer-item {
	margin-bottom: 15px;
}

footer .footer-wrapper .subscribe-text {
	margin-bottom: 31px;
}

footer .footer-wrapper .subscribe-desription {
	margin-bottom: 21px;
}

footer .footer-wrapper .form-control {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
}

footer .footer-wrapper .email-input {
	font-size: 16px;
	padding: 1rem;
	border-radius: 1rem;
	border: none;
	outline: none;
	margin-bottom: 34px;
}

footer .footer-wrapper .error {
	display: none;
}

@media only screen and (max-width: 1199px) {

html {
	scroll-padding-top: 2.5rem;
}

}

@media (max-width: 991px)and (orientation: landscape) {

.modal-box .modal-content {
	height: 80vh;
	max-height: 80vh;
	overflow-y: auto;
}

}

@media only screen and (max-width: 991px) {

.table-content .table-wrap table thead th {
	font-size: .875rem;
	padding: .75rem .5625rem;
	min-width: 200px;
}

.table-content .table-wrap table td {
	font-size: .875rem;
}

.btn {
	font-size: .875rem;
}

header nav .nav-list {
	display: none;
}

header nav .nav-btns {
	display: none;
}

header nav .open {
	display: block;
}

}

@media only screen and (max-width: 767px) {

.mt-24 {
	margin-top: 1rem;
}

.sm-mt-8 {
	margin-top: .5rem;
}

.sm-mt-16 {
	margin-top: 1rem;
}

.sm-mt-20 {
	margin-top: 1.25rem;
}

.sm-mt-32 {
	margin-top: 2rem;
}

.sm-mt-24 {
	margin-top: 1.5rem;
}

.sm-mb-8 {
	margin-bottom: .5rem;
}

.sm-mb-16 {
	margin-bottom: 1rem;
}

.sm-mb-32 {
	margin-bottom: 2rem;
}

.sm-mb-24 {
	margin-bottom: 1.5rem;
}

.xs-mt-32 {
	margin-top: 1rem;
}

.modal-box .close-button img {
	width: 1.75rem;
	height: 1.75rem;
}

.modal-box .modal-content {
	width: 90%;
}

.table-content {
	padding: 12px;
}

.table-content .table-wrap {
	overflow-x: scroll;
}

.table-content .table-wrap::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.table-content .table-wrap::-webkit-scrollbar-thumb {
	background: #888;
}

.table-content .table-wrap::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.table-content .table-wrap table {
	width: 39rem;
}

.table-content .table-wrap table thead th.w-30 {
	width: 8.0625rem;
}

.table-content .table-wrap table thead th.w-40 {
	width: 209px;
}

.readmore-button .btn {
	padding: .75rem 1rem;
}

footer .footer-wrapper .footer-column {
	-ms-flex: 1 0 50%;
	    flex: 1 0 50%;
}

footer .footer-wrapper .footer-column:nth-child(2) {
	-ms-flex-pack: start;
	    justify-content: flex-start;
}

footer .footer-wrapper .footer-column:nth-child(3) {
	-ms-flex-pack: start;
	    justify-content: flex-start;
}

}

@media only screen and (max-width: 575px) {

.section-title {
	font-size: 32px;
	line-height: 30px;
	margin-bottom: 10px;
}

.section-description {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
}

.modal-box .modal-title {
	max-width: 16.875rem;
}

footer {
	padding: 45px 0;
}

footer .footer-wrapper .footer-column {
	-ms-flex: 1 0 100%;
	    flex: 1 0 100%;
}

}

