.banner{
    padding: 124px 0;
    // margin-top: 96px;
    background-color: $banner-bg;
    @include respond-to(medium){
        padding: 40px 0;
    }

    @include respond-to(small){
        padding: 40px 0px;
    }

    .banner-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;  
        @include respond-to(medium){
            flex-direction: column-reverse;
        }

        .banner-left-text{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 740px;

            .banner-title{
                text-transform: uppercase;
                color: $tertiary;
                margin-bottom: 62px;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                @include respond-to(large){
                    margin-bottom: 22px;
                }
            }

            .banner-heading{
                color: $white;
                font-size: 56px;
                line-height: 72px;
                font-weight: 600;
                margin-bottom: 13px;
                @include respond-to(large){
                    font-size: 30px;
                    line-height: 35px;
                }
            }

            .banner-subheading{
                color: #CFD3D6;
                font-size: 20px;
                line-height: 28px;
                font-weight: 400;
                margin-bottom: 44px;
                @include respond-to(large){
                    font-size: 16px;
                    line-height: 20px;
                }

                @include respond-to(large){
                    margin-bottom: 22px;
                }
            }

            .form-control{
                position: relative;

                input{
                    width: 100%;
                    padding: 24px 0;
                    padding-left: 37px;
                    border-radius: 1000px;
                    outline: none;
                    border: none;
                    font-size: 1rem;
                    line-height: 24px;
                    font-weight: 400;
                    color: #6D737A;
                    @include respond-to(large){
                        padding: 14px 0;
                        padding-left: 20px;
                    }
                }

                .search-icon{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 0;
                    right: 0;
                    height: 72px;
                    width: 72px;
                    border-radius: 100%;
                    background: linear-gradient(180deg,rgba(255, 194, 122, 1) 0%, rgba(255, 163, 55, 1) 100%);
                    cursor: pointer;
                    @include respond-to(large){
                        height: 52px;
                        width: 52px;
                    }
                
                    .ri-search-line{
                        color: $white;
                        font-size: 24px;
                    }
                }
            }
        }

        .banner-right-image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 500px;
            @include respond-to(small){
                margin-bottom: 40px;
            }

            .banner_image{
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}