.cta-section{
    padding-bottom: 10.8125rem;
    @include respond-to(mediumtab){
        padding-bottom: 3.125rem;
    }

    @include respond-to(small){
        padding-bottom: 1.875rem;
    }

    .cta-wrapper{
        display: flex;
        align-items: center;

        @include respond-to(mediumtab){
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .cta-image{
        margin-left: -18.75rem;
        object-fit: cover;
        object-position: center;
        
        @include respond-to(mediumtab){
            margin-left: 0rem;
            width: 100%;
            margin-bottom: 1.875rem;
        }

        @include respond-to(laptop){
            width: 62.5rem;
        }
    }

    .cta-content{
        width: 100%;
        max-width: 40.5rem;

        @include respond-to(mediumtab){
            max-width: 100%;
        }
    }

    .cta-heading{
        font-size: 2.5rem;
        line-height: 3rem;
        font-family: $font-semibold;
        margin-bottom: 1.5rem;

        @include respond-to(small){
            font-size: 2rem;
            line-height: 2.375rem;
            margin-bottom: 0.875rem;
        }
    }

    .cta-span-text{
        color: $primary-color;
    }

    .cta-subheading{
        font-size: 1.5rem;
        line-height: 2rem;
        font-family: $font-regular;
        margin-bottom: 1.5rem;

        @include respond-to(small){
            font-size: 1rem;
            line-height: 1.375rem;
            margin-bottom: 0.875rem;
        }
    }

    .cta-description{
        font-size: 1rem;
        line-height: 1.5rem;
        font-family: $font-regular;
        margin-bottom: 2.3125rem;
    }
}