.highlights{
    position: relative;
    padding: 50px 0;
    background-color: #F1F2F8;

    .highlights-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: -38px;
        
        .highlights-card{
            width: 100%;
            max-width: 253px;
            display: flex;
            align-items: center;
            margin: 38px;

            .highlight-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 84px;
                width: 84px;
                border-radius: 100%;
                border: none;
                outline: none;
                background-color: red;
            }

            .highlight-content{
                margin-left: 24px;

                .highlight-number{
                    color: $black;
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: 600;
                }

                .highlight-title{
                    color: #6D737A;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
}