section.banner 
    .container 
        .banner-wrapper 
            .banner-left-text 
                h2.banner-title(tabindex="1") Start to success
                p.banner-heading(tabindex="1") Access To 5000+ Courses from 300 Instructors & Institution
                p.banner-subheading(tabindex="1") Various versions have evolved over the years, sometimes by accident
                .form-control(tabindex="1")
                    input.search-input(type="text" placeholder="What do you want to learn ?")
                    .search-icon
                        i.ri-search-line
            .banner-right-image
                img.banner_image(src="../../assets/images/banner_image.webp", alt="banner image", width="845", height="738", loading="lazy")