section.instructor 
    .container 
        h2.section-title(tabindex="1") Our best 
            span.section-span Instructor
        p.section-description(tabindex="1") Various versions have evolved over the years, sometimes by accident 

        .instructor-wrapper 
            .swiper.instructor-swiper 
                .swiper-wrapper.instructor-swiper-wrapper
                    .swiper-slide.instructor-card 
                        .instrucor-card-img-wrapper 
                            img.lazy.instructor-img(src="" data-src="assets/images/instructorOne.webp" alt="instructor image" loading="lazy")
                        p.instructor-name Jacob Jones 
                        p.instructor-designation UI-UX Design Expert
                    .swiper-slide.instructor-card 
                        .instrucor-card-img-wrapper 
                            img.lazy.instructor-img(src="" data-src="assets/images/instructorOne.webp" alt="instructor image" loading="lazy")
                        p.instructor-name Jacob Jones 
                        p.instructor-designation UI-UX Design Expert
                    .swiper-slide.instructor-card 
                        .instrucor-card-img-wrapper 
                            img.lazy.instructor-img(src="" data-src="assets/images/instructorOne.webp" alt="instructor image" loading="lazy")
                        p.instructor-name Jacob Jones 
                        p.instructor-designation UI-UX Design Expert
                    .swiper-slide.instructor-card 
                        .instrucor-card-img-wrapper 
                            img.lazy.instructor-img(src="" data-src="assets/images/instructorOne.webp" alt="instructor image" loading="lazy")
                        p.instructor-name Jacob Jones 
                        p.instructor-designation UI-UX Design Expert
                    .swiper-slide.instructor-card 
                        .instrucor-card-img-wrapper 
                            img.lazy.instructor-img(src="" data-src="assets/images/instructorOne.webp" alt="instructor image" loading="lazy")
                        p.instructor-name Jacob Jones 
                        p.instructor-designation UI-UX Design Expert
                    .swiper-slide.instructor-card 
                        .instrucor-card-img-wrapper 
                            img.lazy.instructor-img(src="" data-src="assets/images/instructorOne.webp" alt="instructor image" loading="lazy")
                        p.instructor-name Jacob Jones 
                        p.instructor-designation UI-UX Design Expert
                    
                
                .swiper-pagination
            .swiper-button-prev.instructor-btn-prev
            .swiper-button-next.instructor-btn-next