section.courses     
    .container 
        h2.section-title(tabindex="1") Most 
            span.section-span Popular Courses
        p.section-description(tabindex="1") Various versions have evolved over the years, sometimes by accident
        
        .courses-wrapper 
            .swiper.courses-swiper 
                .swiper-wrapper.courses-swiper-wrapper 
                    .swiper-slide.courses-card(tabindex="1")
                        .courses-img-wrapper
                            img.lazy.courses-image(src="" data-src="assets/images/Saly-1.webp" alt="Course image" loading="lazy" width="280")
                            p.course-title HTML
                        p.courses-card-title Various versions have evolved
                        .rating 
                            .star-container 
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                            span.count (15)
                        .about-card
                            p.course-price $500
                            i.ri-arrow-right-up-line.course-arw
                    .swiper-slide.courses-card(tabindex="1")
                        .courses-img-wrapper
                            img.lazy.courses-image(src="" data-src="assets/images/Saly-2.webp" alt="Course image" loading="lazy")
                            p.course-title Design
                        p.courses-card-title Various versions have evolved
                        .rating 
                            .star-container 
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                            span.count (15)
                        .about-card
                            p.course-price $500
                            i.ri-arrow-right-up-line.course-arw
                    .swiper-slide.courses-card(tabindex="1")
                        .courses-img-wrapper
                            img.lazy.courses-image(src="" data-src="assets/images/Saly-3.webp" alt="Course image" loading="lazy")
                            p.course-title Business
                        p.courses-card-title Various versions have evolved
                        .rating 
                            .star-container 
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                            span.count (15)
                        .about-card
                            p.course-price $500
                            i.ri-arrow-right-up-line.course-arw
                    .swiper-slide.courses-card(tabindex="1")
                        .courses-img-wrapper
                            img.lazy.courses-image(src="" data-src="assets/images/Saly-4.webp" alt="Course image" loading="lazy")
                            p.course-title Business
                        p.courses-card-title Various versions have evolved
                        .rating 
                            .star-container 
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                            span.count (15)
                        .about-card
                            p.course-price $500
                            i.ri-arrow-right-up-line.course-arw
                    .swiper-slide.courses-card(tabindex="1")
                        .courses-img-wrapper
                            img.lazy.courses-image(src="" data-src="assets/images/Saly-1.webp" alt="Course image" loading="lazy")
                            p.course-title HTML
                        p.courses-card-title Various versions have evolved
                        .rating 
                            .star-container 
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                            span.count (15)
                        .about-card
                            p.course-price $500
                            i.ri-arrow-right-up-line.course-arw
                    .swiper-slide.courses-card(tabindex="1")
                        .courses-img-wrapper
                            img.lazy.courses-image(src="" data-src="assets/images/Saly-2.webp" alt="Course image" loading="lazy")
                            p.course-title Design
                        p.courses-card-title Various versions have evolved
                        .rating 
                            .star-container 
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                                img.lazy.star(src="" data-src="assets/images/Star.webp" alt="star icon", height="24", width="24")
                            span.count (15)
                        .about-card
                            p.course-price $500
                            i.ri-arrow-right-up-line.course-arw
                    
            
                .swiper-pagination  
            .swiper-button-prev.courses-button-prev
            .swiper-button-next.courses-button-next