section.cta-section 
    .container 
        .cta-wrapper 
            img.cta-image(src="assets/images/cta-image.png", alt="")
            .cta-content 
                h2.cta-heading Join 
                    span.cta-span-text World's largest 
                    | learning platform today
                p.cta-subheading Start learning by registering for free
                p.cta-description Ut pharetra ipsum nec leo blandit, sit amet tincidunt eros pharetra. Nam sed imperdiet turpis. In hac habitasse platea dictumst. <br> Praesent nulla massa, hendrerit vestibulum gravida in, feugiat auctor felis.
                button.btn.btn-primary Sign up for free