section.feedback 
    .container 
        h2.section-title Student 
            span.section-span Feedback
        
        p.section-description Various versions have evolved over the years, sometimes by accident

        .feedback-row 
            .swiper.feedbackSwiper 
                .swiper-wrapper.feedback-swiper-wrapper
                    .swiper-slide.feedback-card 
                        .feedback-card-header
                            .feedback-owner-container
                                img.lazy.feedback-image(src="" data-src="assets/images/feedback-image-one.webp" alt="feedback avatar" loading="lazy")
                                .feedback-owner 
                                    p.feedback-owner-name Guy Hawkins   
                                    p.feedback-owner-designation UI-UX Designer 
                            img.lazy.quotation-icon(src="" data-src="assets/images/quotation-icon.webp" alt="quotation mark image" loading="lazy") 
                        p.feedback-card-description Ut pharetra ipsum nec leo blandit, sit amet tincidunt eros pharetra. Nam sed imperdiet turpis. In hac habitasse platea dictumst. Praesent nulla massa, hendrerit vestibulum gravida in, feugiat auctor felis.
                    .swiper-slide.feedback-card 
                        .feedback-card-header
                            .feedback-owner-container
                                img.lazy.feedback-image(src="" data-src="assets/images/feedback-image-one.webp" alt="feedback avatar" loading="lazy")
                                .feedback-owner 
                                    p.feedback-owner-name Guy Hawkins   
                                    p.feedback-owner-designation UI-UX Designer 
                            img.lazy.quotation-icon(src="" data-src="assets/images/quotation-icon.webp" alt="quotation mark image" loading="lazy") 
                        p.feedback-card-description Ut pharetra ipsum nec leo blandit, sit amet tincidunt eros pharetra. Nam sed imperdiet turpis. In hac habitasse platea dictumst. Praesent nulla massa, hendrerit vestibulum gravida in, feugiat auctor felis.
                    .swiper-slide.feedback-card 
                        .feedback-card-header
                            .feedback-owner-container
                                img.lazy.feedback-image(src="" data-src="assets/images/feedback-image-one.webp" alt="feedback avatar" loading="lazy")
                                .feedback-owner 
                                    p.feedback-owner-name Guy Hawkins   
                                    p.feedback-owner-designation UI-UX Designer 
                            img.lazy.quotation-icon(src="" data-src="assets/images/quotation-icon.webp" alt="quotation mark image" loading="lazy") 
                        p.feedback-card-description Ut pharetra ipsum nec leo blandit, sit amet tincidunt eros pharetra. Nam sed imperdiet turpis. In hac habitasse platea dictumst. Praesent nulla massa, hendrerit vestibulum gravida in, feugiat auctor felis.
                    .swiper-slide.feedback-card 
                        .feedback-card-header
                            .feedback-owner-container
                                img.lazy.feedback-image(src="" data-src="assets/images/feedback-image-one.webp" alt="feedback avatar" loading="lazy")
                                .feedback-owner 
                                    p.feedback-owner-name Guy Hawkins   
                                    p.feedback-owner-designation UI-UX Designer 
                            img.lazy.quotation-icon(src="" data-src="assets/images/quotation-icon.webp" alt="quotation mark image" loading="lazy") 
                        p.feedback-card-description Ut pharetra ipsum nec leo blandit, sit amet tincidunt eros pharetra. Nam sed imperdiet turpis. In hac habitasse platea dictumst. Praesent nulla massa, hendrerit vestibulum gravida in, feugiat auctor felis.
                    .swiper-slide.feedback-card 
                        .feedback-card-header
                            .feedback-owner-container
                                img.lazy.feedback-image(src="" data-src="assets/images/feedback-image-one.webp" alt="feedback avatar" loading="lazy")
                                .feedback-owner 
                                    p.feedback-owner-name Guy Hawkins   
                                    p.feedback-owner-designation UI-UX Designer 
                            img.lazy.quotation-icon(src="" data-src="assets/images/quotation-icon.webp" alt="quotation mark image" loading="lazy") 
                        p.feedback-card-description Ut pharetra ipsum nec leo blandit, sit amet tincidunt eros pharetra. Nam sed imperdiet turpis. In hac habitasse platea dictumst. Praesent nulla massa, hendrerit vestibulum gravida in, feugiat auctor felis.
                    .swiper-slide.feedback-card 
                        .feedback-card-header
                            .feedback-owner-container
                                img.lazy.feedback-image(src="" data-src="assets/images/feedback-image-one.webp" alt="feedback avatar" loading="lazy")
                                .feedback-owner 
                                    p.feedback-owner-name Guy Hawkins   
                                    p.feedback-owner-designation UI-UX Designer 
                            img.lazy.quotation-icon(src="" data-src="assets/images/quotation-icon.webp" alt="quotation mark image" loading="lazy") 
                        p.feedback-card-description Ut pharetra ipsum nec leo blandit, sit amet tincidunt eros pharetra. Nam sed imperdiet turpis. In hac habitasse platea dictumst. Praesent nulla massa, hendrerit vestibulum gravida in, feugiat auctor felis.
                    .swiper-slide.feedback-card 
                        .feedback-card-header
                            .feedback-owner-container
                                img.lazy.feedback-image(src="" data-src="assets/images/feedback-image-one.webp" alt="feedback avatar" loading="lazy")
                                .feedback-owner 
                                    p.feedback-owner-name Guy Hawkins   
                                    p.feedback-owner-designation UI-UX Designer 
                            img.lazy.quotation-icon(src="" data-src="assets/images/quotation-icon.webp" alt="quotation mark image" loading="lazy") 
                        p.feedback-card-description Ut pharetra ipsum nec leo blandit, sit amet tincidunt eros pharetra. Nam sed imperdiet turpis. In hac habitasse platea dictumst. Praesent nulla massa, hendrerit vestibulum gravida in, feugiat auctor felis.
                    
                    
                .swiper-pagination
            .swiper-button-prev.feedback-btn-prev
            .swiper-button-next.feedback-btn-next 