section.highlights 
    .container 
        .highlights-wrapper 
            .highlights-card(tabindex="1")  
                .highlight-icon.gradient-one
                    img(src="assets/images/GraduationCap.webp", alt="graduation cap image" height="44", width="44", loading="lazy")
                .highlight-content
                    p.highlight-number 300
                    p.highlight-title Instructor
            .highlights-card(tabindex="1")  
                .highlight-icon.gradient-two
                    img(src="assets/images/Users.webp", alt="users image" height="44", width="44", loading="lazy")
                .highlight-content
                    p.highlight-number 20,000+
                    p.highlight-title Student
            .highlights-card(tabindex="1")  
                .highlight-icon.gradient-three
                    img(src="assets/images/VideoCamera.webp", alt="video camera image" height="44", width="44", loading="lazy")
                .highlight-content
                    p.highlight-number 10,000+
                    p.highlight-title Video
            .highlights-card(tabindex="1")  
                .highlight-icon.gradient-four
                    img(src="assets/images/UsersThree.webp", alt="three user image" height="44", width="44", loading="lazy")
                .highlight-content
                    p.highlight-number 1,00,000+
                    p.highlight-title User's