section.popular 
    .container 
        h2.section-title(tabindex="1") Most 
            span.section-span Popular Category
        p.section-description(tabindex="1") Various versions have evolved over the years, sometimes by accident
        .popular-card-wrapper 
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/PenNib.webp", alt="pen nip icon", loading="lazy", height="24", width="24")
                p.popular-card-title Design
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/FileHtml.webp", alt="file icon", loading="lazy", height="24", width="24")
                p.popular-card-title Development
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/MicrophoneStage.webp", alt="mic icon", loading="lazy", height="24", width="24")
                p.popular-card-title Marketing
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/Briefcase.webp", alt="briefcase icon", loading="lazy", height="24", width="24")
                p.popular-card-title Business
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/PenNib.webp", alt="pen nip icon", loading="lazy", height="24", width="24")
                p.popular-card-title Design
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/FileHtml.webp", alt="file icon", loading="lazy", height="24", width="24")
                p.popular-card-title Development
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/MicrophoneStage.webp", alt="mic icon", loading="lazy", height="24", width="24")
                p.popular-card-title Marketing
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/Briefcase.webp", alt="briefcase icon", loading="lazy", height="24", width="24")
                p.popular-card-title Business
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/PenNib.webp", alt="pen nip icon", loading="lazy", height="24", width="24")
                p.popular-card-title Design
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/FileHtml.webp", alt="file icon", loading="lazy", height="24", width="24")
                p.popular-card-title Development
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/MicrophoneStage.webp", alt="mic icon", loading="lazy", height="24", width="24")
                p.popular-card-title Marketing
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/Briefcase.webp", alt="briefcase icon", loading="lazy", height="24", width="24")
                p.popular-card-title Business
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/PenNib.webp", alt="pen nip icon", loading="lazy", height="24", width="24")
                p.popular-card-title Design
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/FileHtml.webp", alt="file icon", loading="lazy", height="24", width="24")
                p.popular-card-title Development
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/MicrophoneStage.webp", alt="mic icon", loading="lazy", height="24", width="24")
                p.popular-card-title Marketing
                i.ri-arrow-right-up-line.popular-arw
            .popular-card(tabindex="1") 
                img.popular-card-icon(src="../../assets/images/Briefcase.webp", alt="briefcase icon", loading="lazy", height="24", width="24")
                p.popular-card-title Business
                i.ri-arrow-right-up-line.popular-arw
            