section.popular 
    .container 
        .section-title Most 
            span.section-span Popular Category
        p.section-subheading Various versions have evolved over the years, sometimes by accident
        .popular-card-wrapper 
            .popular-card 
                img.popular-card-icon(src="../../assets/images/PenNib.webp", alt="")
                p.popular-card-title Design
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/FileHtml.webp", alt="")
                p.popular-card-title Development
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/MicrophoneStage.webp", alt="")
                p.popular-card-title Marketing
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/Briefcase.webp", alt="")
                p.popular-card-title Business
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/PenNib.webp", alt="")
                p.popular-card-title Design
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/FileHtml.webp", alt="")
                p.popular-card-title Development
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/MicrophoneStage.webp", alt="")
                p.popular-card-title Marketing
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/Briefcase.webp", alt="")
                p.popular-card-title Business
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/PenNib.webp", alt="")
                p.popular-card-title Design
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/FileHtml.webp", alt="")
                p.popular-card-title Development
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/MicrophoneStage.webp", alt="")
                p.popular-card-title Marketing
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/Briefcase.webp", alt="")
                p.popular-card-title Business
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/PenNib.webp", alt="")
                p.popular-card-title Design
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/FileHtml.webp", alt="")
                p.popular-card-title Development
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/MicrophoneStage.webp", alt="")
                p.popular-card-title Marketing
                i.ri-arrow-right-up-line
            .popular-card 
                img.popular-card-icon(src="../../assets/images/Briefcase.webp", alt="")
                p.popular-card-title Business
                i.ri-arrow-right-up-line
            