extends ../layout/index
append config
	- var Page = {title:"Axis Primus",section:"component",theme:"", name:""}
	- var Meta = {description:"Axis Primus"}
	- var breadcrum = false
block content
	include ../modules/component/master