
$white: #fff;
$black: #000;
$primary: #13A2FE;
$secondary: #0088EC;
$tertiary : #FFC27A;
$banner-bg : #6176F7;

$font-regular: "inter-regular"; //400
$font-medium: "inter-medium"; //500
$font-semibold : "inter-semibold"; //600
$font-bold: "inter-bold"; //700