$white: #fff;
$black: #000;
$primary-color: #3461FD;
$secondary-color : #6D737A;
$tertiary : #FFC27A;
$banner-bg : #6176F7;
$secondary-bg : #F1F2F8;
$error-color : #FF0000;

$primary-gradient : linear-gradient(180deg,rgba(255, 194, 122, 1) 0%, rgba(255, 163, 55, 1) 100%);

$font-regular: "Sans-Regular"; //400
$font-medium: "Sans-Medium"; //500
$font-semibold : "Sans-SemiBold"; //600