.btn {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    font-family: $font-semibold;
    align-self: baseline;
    font-size: 1rem;
    line-height: 1.5rem; 
    padding: 0.75rem 1.5rem;
    color: $white;
    border: none;
    outline: none;
    background: transparent;
    @include rounded(6.25rem);
    position: relative;
    cursor: pointer;
    @include respond-to(large){
        font-size: 0.875rem;
    }
    font-weight: 500;
}
.btn-primary {
    color: $white;
    @include transition(all, 0.3s, ease-in-out);
    background: $primary-gradient;
    &:hover {
        background: transparent;
    }
}