* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

html,
body {
  font-family: $font-regular;
  background: $white;
  width: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
    width: 100%;
  }
}
html{
  scroll-padding-top: 5.5625rem;
  @include respond-to(extralarge) {
    scroll-padding-top: 2.5rem;
  }
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

.container {
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  max-width: 1440px;
  width: 100%;
  // border: 1px solid rgba(255, 189, 6, 0.226);
}

/* Reset list styles */

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.btn {
	display: inline-flex;
	align-items: baseline;
	justify-content: center;
	text-align: center;
	font-family: $font-medium;
	align-self: baseline;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: .75rem 1.5rem;
	border: none;
	outline: none;
	border-radius: 6.25rem;
	position: relative;
	cursor: pointer;
	background: none;
	color: $white;
	@include transition(all, 0.3s, ease-in-out);
}

.btn-primary {
	background: linear-gradient(180deg, rgb(255, 194, 122) 0%, rgb(255, 163, 55) 100%);
	&:hover {
		background: transparent;
	}
}

.section-title{
	font-family: $font-semibold;
	font-weight: 600;
	font-size: 56px;
	line-height: 72px;
	margin-bottom: 16px;
	@include respond-to(small){
		font-size: 32px;
		line-height: 30px;
		margin-bottom: 10px;
	}
}

.section-span{
	color: $primary-color;
}

.section-description{
	color: $secondary-color;
	font-family: $font-regular;
	font-weight: 400;
	line-height: 28px;
	font-size: 20px;
	margin-bottom: 50px;
	@include respond-to(small){
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 10px;
	}
}

.ri-arrow-right-up-line{
	font-size: 1.5rem;
	color: $tertiary;
	padding: 0.625rem;
	@include rounded(100%);
	@include transition(all, 0.3s, ease-in-out);
	cursor: pointer;
}

.swiper-button-lock{
  display: block !important;
}

.primary-btn{
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  font-family: $font-semibold;
  border-radius: 1rem;
  color: $white;
}

.ri-arrow-right-up-line{
  height: 44px;
  width: 44px;
  border-radius: 100%;
}

#error-message,
#error-messages,
.error-message {
  color: $white;
  position: absolute;
  bottom: -25px;
  left: 0px;
  display: none;
  font-size: 0.875rem;
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  /* Adjust size */
  height: 50px;
  background: radial-gradient(75.52% 108.69% at 51.9% 100%, #0854C4 32.04%, #093A8A 64.58%, #092962 100%);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  /* Adjust size */
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  /* Initially hidden */
  transition: opacity 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(50px);
  z-index: 9;
}

#scrollTopBtn.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#scrollTopBtn:hover {
  transform: scale(1.1);
  /* Slight zoom effect on hover */
}


.break-txt {
  display: block;
}

.mt-16 {
  margin-top: 1rem;
}

.mt-24 {
  margin-top: 1.5rem;

  @include respond-to(medium) {
    margin-top: 1rem;
  }
}

.mt-32 {
  margin-top: 2rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.sm-mt-8 {
  @include respond-to(medium) {
    margin-top: 0.5rem;
  }
}

.sm-mt-16 {
  @include respond-to(medium) {
    margin-top: 1rem;
  }
}

.sm-mt-20 {
  @include respond-to(medium) {
    margin-top: 1.25rem;
  }
}

.sm-mt-32 {
  @include respond-to(medium) {
    margin-top: 2rem;
  }
}

.sm-mt-24 {
  @include respond-to(medium) {
    margin-top: 1.5rem;
  }
}

.sm-mb-8 {
  @include respond-to(medium) {
    margin-bottom: 0.5rem;
  }
}

.sm-mb-16 {
  @include respond-to(medium) {
    margin-bottom: 1rem;
  }
}

.sm-mb-32 {
  @include respond-to(medium) {
    margin-bottom: 2rem;
  }
}

.sm-mb-24 {
  @include respond-to(medium) {
    margin-bottom: 1.5rem;
  }
}

.xs-mt-32 {
  @include respond-to(medium) {
    margin-top: 1rem;
  }
}
.justify-start {
  justify-content: start;
}



.modalWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  background-size: cover;
  display: none;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
}

.modal-box {
  .close-button {
    position: absolute;
    // top: 1.1rem;
    // right: 1rem;
    top: .625rem;
    right: .625rem;
    z-index: 11;
    line-height: 0;
    cursor: pointer;
    img{
      @include respond-to(medium) {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  }

  .modal-title {
    color: grey;
    font-size: 1.25rem;
    line-height: 1.625rem;
    letter-spacing: 0.01rem;
    margin-bottom: 1.125rem;

    @include respond-to(small) {
      max-width: 16.875rem;
    }
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    background: $white;
    max-width: 33.75rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    @include rounded(0.5rem);
    border: 0;
    width: 100%;
    // max-height: 37.5rem;
    // overflow-y: auto;
    @include respond-to(medium) {
      width: 90%;
    }

    @media (max-width: 991px) and (orientation: landscape)  {
      height: 80vh;
      max-height: 80vh;
      overflow-y: auto;
    }

    &>.container {
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .nano {
      overflow: auto;
      height: 504px;

      .nano-pane {
        display: inherit !important;
      }

      .nano-content:focus {
        outline: none;
      }
    }
  }
}

// .no-scroll {
//   overflow-y: hidden;
//   position: fixed;
// }


*:focus-visible {
  outline: #666 auto 1px;
}

.w-100 {
  width: 100%;
}

.table-content {
  padding: 20px;
  border-radius: 16px;
  // border: 4px solid $border-color;
  background: $white;

  @include respond-to(medium) {
    padding: 12px;
  }

  .table-wrap {

    @include respond-to(medium) {
      overflow-x: scroll;
      &::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888; 
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
    }

    table {
      border: 0;
      border-collapse: collapse;
      text-align: left;
      table-layout: fixed;
      width: 100%;

      @include respond-to(medium) {
        width: 39rem;
      }

      thead {
        // background: $blue-background;

        th {
          padding: 20px 16px;
          color: $white;
          font-family: $font-semibold;
          font-size: 16px;
          font-style: normal;
          line-height: 20px;
          letter-spacing: 0.24px;

          @include respond-to(large) {
            font-size: 0.875rem;
            padding: 0.75rem 0.5625rem;
            min-width: 200px;
          }

          &.w-30 {
            @include respond-to(medium) {
              width: 8.0625rem;
            }
          }
          &.w-40 {
            @include respond-to(medium) {
              width:209px;
            }
          }

          &:first-child {
            border-top-left-radius: 12px
          }

          &:last-child {
            border-top-right-radius: 12px;
          }
        }


      }

      td {
        padding: 0.75rem 1rem;
        // color: $gray-dark;
        font-family: $font-regular;
        font-size: 1rem;
        line-height: 1.48rem;

        @include respond-to(large) {
          font-size: 0.875rem;
        }
      }

      tbody {
        tr {
          &:hover {
            // background-color: $lightSkyBlue;
          }

          &:last-of-type {
            border-bottom: none;
          }
        }
      }

      .text-align {
        text-align: center;
      }

      .text-start {
        text-align: start;
      }
    }
  }
}

.table-heading {
  font-family: $font-semibold;
  font-size: 18px;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.16px;
  margin-bottom: 20px;
}

.readmore-button {
  text-align: center;

  .btn {
    padding: 16px 24px;

    @include respond-to(medium) {
      padding: 0.75rem 1rem;
    }
  }
}
.overflow-hidden{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}



@import "button";